Repository JLee794-Sandbox/TerraformSandbox: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

.azuredevops/solutionPipelines/schillingParts.demo.yml:
  name: '[SchillingParts] Demo Team Deployment'
  pool:
    name: AIB-Win19-Selfhosted-VMSS2
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
  ...

.azuredevops/solutionPipelines/shillingParts.demo.yml:
  name: '[ShillingParts] Demo Team Deployment'
  stages:
  - template: /.azuredevops/pipelineTemplates/stages.module.yml
    parameters:
      removeDeployment: ${{ parameters.removeDeployment }}
      prerelease: ${{ parameters.prerelease }}
      versionOption: ${{ parameters.versionOption }}

updating settings.yml to use self-hosted vmss pool
  .azuredevops/solutionPipelines/schillingParts.yml
  Modules/compute/virtual_machines/linux_devops/vm_linux.tf
  Solutions/SchillingParts/_locals.mssql.tf
  Solutions/SchillingParts/_locals.tf
  settings.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

Update schillingParts.demo.yml for Azure Pipelines
  .azuredevops/solutionPipelines/schillingParts.demo.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

Updated settings.yml
  settings.yml
Due: none

updating settings
  settings.yml
Due: none

Update settings.yml for Azure Pipelines
  settings.yml
Due: none

Updated jobs.terraform.validate.yml
  .azuredevops/pipelineTemplates/jobs.terraform.validate.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

testing
  Solutions/SchillingParts/.terraform.lock.hcl
  Solutions/SchillingParts/main.tf
  settings.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

testing
  .azuredevops/solutionPipelines/schillingParts.demo.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

removing debug
  .azuredevops/pipelineTemplates/jobs.terraform.validate.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

debugging module pathing in templates
  .azuredevops/pipelineTemplates/jobs.terraform.deploy.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

debugging artifact path
  .azuredevops/pipelineTemplates/jobs.terraform.deploy.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

adding linux agent demands
  .azuredevops/pipelineTemplates/jobs.terraform.deploy.yml
  .azuredevops/pipelineTemplates/jobs.terraform.validate.yml
  .azuredevops/solutionPipelines/schillingParts.demo.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

adding linux agent demands
  .azuredevops/pipelineTemplates/jobs.terraform.deploy.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

commenting out private endpoint for storage account due to provider bug around private endpoints for storage accounts
  .azuredevops/pipelineTemplates/jobs.terraform.deploy.yml
  .azuredevops/solutionPipelines/schillingParts.demo.yml
  .azuredevops/solutionPipelines/schillingParts.yml
  Solutions/SchillingParts/README.md
  Solutions/SchillingParts/appservice.tf
  Solutions/SchillingParts/private_dns.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

var for vm linux module
  Modules/compute/virtual_machines/linux_devops/README.md
  Modules/compute/virtual_machines/linux_devops/variables.tf
  Modules/compute/virtual_machines/linux_devops/vm_linux.tf
Due: none

var for vm linux module
  .azuredevops/solutionPipelines/schillingParts.demo.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

var for vm linux module
  Solutions/SchillingParts/README.md
  Solutions/SchillingParts/outputs.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

adding ip rule for devops subnet to storage account
  Solutions/SchillingParts/appservice.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

changing the networking config for storage account
  Modules/storage_account/README.md
  Modules/storage_account/storage_account.tf
Due: none

changing the networking config for storage account
  Solutions/SchillingParts/appservice.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

updating pipeline to refresh=false for plan due to private containers in selfhosted agents issue
  .azuredevops/pipelineTemplates/jobs.terraform.validate.yml
  .azuredevops/solutionPipelines/schillingParts.demo.yml
  .azuredevops/solutionPipelines/shared.yml
  Solutions/SchillingParts/README.md
  Solutions/SchillingParts/data.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

updating pipeline to refresh=false for plan due to private containers in selfhosted agents issue
  Solutions/SchillingParts/mssql.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

testing publish
  .azuredevops/pipelineTemplates/jobs.terraform.publish.yml
  Modules/networking/azurerm-frontdoor/README.md
  Modules/networking/azurerm-frontdoor/main.tf
  Modules/networking/azurerm-frontdoor/outputs.tf
  Modules/networking/azurerm-frontdoor/variables.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

testing publish
  Modules/compute/virtual_machines/linux_devops/vm_linux.tf
  Modules/networking/azurerm-frontdoor/README.md
  Modules/networking/azurerm-frontdoor/main.tf
  Modules/networking/azurerm-frontdoor/outputs.tf
  Modules/networking/azurerm-frontdoor/variables.tf
  Solutions/SchillingParts/.terraform.lock.hcl
  Solutions/SchillingParts/README.md
  Solutions/SchillingParts/main.tf
  Solutions/Shared/.terraform.lock.hcl
  Solutions/Shared/README.md
  Solutions/Shared/main.tf
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml

lowercase for package names
  .azuredevops/pipelineTemplates/jobs.terraform.publish.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

Update shared.yml for Azure Pipelines
  .azuredevops/solutionPipelines/shared.yml
Due: none

lowercase for package names
  .azuredevops/pipelineTemplates/jobs.terraform.publish.yml
  .azuredevops/solutionPipelines/shared.yml
Due: .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/solutionPipelines/shillingParts.demo.yml

Path conditions:
  .azuredevops/solutionPipelines/schillingParts.demo.yml: any of: Solutions/SchillingParts/variables/pipeline.tfvars, .azuredevops/solutionPipelines/schillingParts.demo.yml, .azuredevops/pipelineTemplates/*.yml, Solutions/SchillingParts/*.tf, but not: **/*.md
  .azuredevops/solutionPipelines/shillingParts.demo.yml: any of: Solutions/ShillingParts/Parameters/demo.tfvars, .azuredevops/solutionPipelines/shillingParts.demo.yml, .azuredevops/pipelineTemplates/*.yml, Solutions/ShillingParts/*.tf, but not: **/*.md
